#!/usr/bin/make -f

ALL_CHECKS= --check-spinlock \
						--check-semaphore --check-mutex --check-io --check-wait-queue \
						--check-tasklet --check-work-queue --check-timer --check-context

COMPILER=goto-cc
SUFFIX=bin
# COMPILER=cpp
# SUFFIX=dir/
# COMPILER=cil
# SUFFIX=i

build::
	test -d cprover
	ln -sf asm-i386 include/asm
	$(MAKE) -f cprover/rules cprover/binaries
	rm include/asm

build/drivers/char/genrtc.$(SUFFIX): DEFINES := -D CONFIG_GEN_RTC_X -D CONFIG_PROC_FS
build/drivers/char/watchdog/wdt.$(SUFFIX): DEFINES := -D CONFIG_WDT_501
build/drivers/char/watchdog/wdt_pci.$(SUFFIX): DEFINES := -D CONFIG_WDT_501_PCI
build/drivers/block/cciss.$(SUFFIX): DEFINES := -D CONFIG_PROC_FS -D CONFIG_X86
build/drivers/block/cpqarray.$(SUFFIX): DEFINES := -D CONFIG_PROC_FS

build/%.$(SUFFIX): %.c
	mkdir -p $(dir $@)
	cd build ; ../cprover/ddverify/ddverify.sh --$(COMPILER) $(ALL_CHECKS) $(DEFINES) ../$^ -o $(basename $<)

CHAR_DRIVERS =  watchdog/machzwd
## CHAR_DRIVERS= genrtc applicom \
## 							watchdog/i8xx_tco watchdog/ib700wdt watchdog/machzwd watchdog/mixcomwd \
## 							watchdog/pcwd watchdog/sbc60xxwdt watchdog/sc1200wdt watchdog/sc520_wdt \
## 							watchdog/smsc37b787_wdt watchdog/w83877f_wdt watchdog/w83977f_wdt \
## 							watchdog/wdt watchdog/wdt977 watchdog/wdt_pci
## 
## # DAC960 doesn't work with cil
## BLOCK_DRIVERS= cciss floppy cpqarray DAC960

cprover/binaries: $(addsuffix .$(SUFFIX), $(addprefix build/drivers/char/, $(CHAR_DRIVERS)) $(addprefix build/drivers/block/, $(BLOCK_DRIVERS)))
	rm -f $@
	for f in $^ ; do \
		echo $$f >> $@ ; \
	done

TOOL=satabs
TOOL_OPTS=--iterations 20 --32
# TOOL=cbmc
# TOOL_OPTS=--unwind 5 --no-unwinding-assertions --32 --bounds-check --div-by-zero-check --pointer-check
TIMEOUT=1200

verify::
	test -d cprover
	$(MAKE) -f cprover/rules build
	$(MAKE) -f cprover/rules cprover/verified
	## set -e ; cd results ; \
	## for i in $$(<../cprover/binaries) ; do \
	## 	../cprover/verify.sh --timeout 5 --$(TOOL) ../$$i -- $(TOOL_OPTS) ; \
	## done

results/%.vr: build/%.$(SUFFIX)
	mkdir -p $(dir $@)
	cd results ; ../cprover/verify.sh --timeout $(TIMEOUT) --$(TOOL) ../$< -- $(TOOL_OPTS) > ../$@

cprover/verified: $(addsuffix .vr, $(addprefix results/drivers/char/, $(CHAR_DRIVERS)) $(addprefix results/drivers/block/, $(BLOCK_DRIVERS)))
	echo "TOOL: $(TOOL) $(TOOL_OPTS)" > $@
	echo "TIMEOUT: $(TIMEOUT)" >> $@
	echo "RESULTS:" >> $@
	for f in $^ ; do \
		cat $$f >> $@ ; \
	done

clean::
	test -d cprover
	rm -f cprover/binaries cprover/verified
	rm -rf build results


